body {
  background: #b8dcff;
  font-family: "Source Code Pro", monospace;
}

.container {
  background: #f7f7f7;
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 11px 26px rgba(85, 133, 181, 0.2);
  border: 1px solid #66bfbf;
}
.search-input {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  background: #e3f0fd;
}
.search-input:focus {
  outline: 2px solid #5585b5;
  font-family: "Source Code Pro", monospace;
}
.featured-elements-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
p,
footer,
.country,
.featured-city,
.feature-temperature,
.feature-temperature-symbol-c,
.feature-temperature-symbol-f {
  color: #113f67;
}
.featured-city {
  font-size: 38px;
  line-height: 20px;
  margin: none;
}

p strong {
  color: #f73859;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.description,
.country {
  font-style: italic;
  color: #5585b5;
  font-weight: 500;
}
.featured-summary {
  display: flex;
  align-items: center;
}

.feature-emoji {
  font-size: 24px;
  border-radius: 12px;
  border: 1px solid #e2eefa;
  margin-right: 10px;
}
.feature-temperature {
  font-size: 60px;
}

.feature-temperature-symbol-c,
.feature-temperature-symbol-f {
  font-size: 20px;
  margin-bottom: 30px;
  text-decoration: underline;
  text-decoration-color: #ff5722;
  text-decoration-thickness: 1px;
  transition: all 200ms ease-in-out;
}
.feature-temperature-symbol-c:hover {
  cursor: pointer;
  color: #ff5722;
}
footer {
  margin-top: 30px;
  font-size: 11px;
  text-align: center;
}
a {
  color: #f73859;
}
